<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="hbclab" src="https://avatars0.githubusercontent.com/u/24659915?s=400&u=12a4f626488fe0f692d77f355d9dd9f3e4e63f7a&v=4" />
  </div>
  <div class="contents">
    <h3> NiBetaSeries </h3>
    <p> Work In Progress: Calculate Betaseries Correlations </p>
    <a class="project-link" href="https://github.com/HBClab/NiBetaSeries">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="neuroimaging-uiowa" src="https://avatars0.githubusercontent.com/u/39640936?s=400&u=09907af4154cab28158522b698d90ff8c77265c5&v=4" />
  </div>
  <div class="contents-right">
    <h3> NeuroImaging Uiowa </h3>
    <p> A collection of useful scripts and shared materials from our monthly meetings. </p>
    <a class="project-link" href="https://github.com/NeuroimagingUIowa">Check it out</a>
  </div>
</div>
